# .NET
bin/
obj/
publish/
*.user
.vs/
**/.vs/
deploy.zip
az
cd

# Secrets
ReenbitChat/appsettings.json

# React
reenbit-chat-client/node_modules/
reenbit-chat-client/dist/

# OS
.DS_Store




















Thumbs.db
